body{
    font-family: sans-serif;
    background:burlywood;
}
.problem{
    background:skyblue;
}
.solving{
    background:rgb(235, 158, 135);
}
.impares{
    background:#adadad;
}
.pares{
    background:#ffffff;
}
.circle{
    list-style-type: disc;
}
.empty{
    list-style-type: circle;    
}
.little_square{
    list-style-type: square;
}
#sen_cos{
    border:1px solid black;
    color: aliceblue;
}